	.box1{
	float: left;
	width: 200px;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 18px;
	margin-bottom: 35px;

	border: 1px solid;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
	}
	
	.box1 > img {
		width: 90px;
		
		padding: 10px;
		float: left;
	}
	.box1 > section > ul > li {
		font-size: 8pt;
		padding: 1px;
		list-style: red;
	}
	.box1 > section > ul {
		margin-left: -80px;
	}
	